.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .cm {
  color: #9b8ea9;
  font-style: italic;
}
.highlight .cp {
  color: #827391;
  font-weight: bold;
}
.highlight .c1 {
  color: #9b8ea9;
  font-style: italic;
}
.highlight .cs {
  color: #827391;
  font-weight: bold;
  font-style: italic;
}
.highlight .c, .highlight .cd {
  color: #9b8ea9;
  font-style: italic;
}
.highlight .err {
  color: #d37c8e;
  background-color: #fadce1;
}
.highlight .gd {
  color: #5a4d6e;
  background-color: #fadce1;
}
.highlight .ge {
  color: #5a4d6e;
  font-style: italic;
}
.highlight .gr {
  color: #d37c8e;
}
.highlight .gh {
  color: #827391;
}
.highlight .gi {
  color: #5a4d6e;
  background-color: #dcf5e3;
}
.highlight .go {
  color: #827391;
}
.highlight .gp {
  color: #827391;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #9b8ea9;
}
.highlight .gt {
  color: #d37c8e;
}
.highlight .kc {
  color: #6c5e82;
  font-weight: bold;
}
.highlight .kd {
  color: #6c5e82;
  font-weight: bold;
}
.highlight .kn {
  color: #6c5e82;
  font-weight: bold;
}
.highlight .kp {
  color: #6c5e82;
  font-weight: bold;
}
.highlight .kr {
  color: #6c5e82;
  font-weight: bold;
}
.highlight .kt {
  color: #a685e2;
  font-weight: bold;
}
.highlight .k, .highlight .kv {
  color: #6c5e82;
  font-weight: bold;
}
.highlight .mf {
  color: #7baeb5;
}
.highlight .mh {
  color: #7baeb5;
}
.highlight .il {
  color: #7baeb5;
}
.highlight .mi {
  color: #7baeb5;
}
.highlight .mo {
  color: #7baeb5;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #7baeb5;
}
.highlight .sb {
  color: #d48bb5;
}
.highlight .sc {
  color: #d48bb5;
}
.highlight .sd {
  color: #d48bb5;
}
.highlight .s2 {
  color: #d48bb5;
}
.highlight .se {
  color: #d48bb5;
}
.highlight .sh {
  color: #d48bb5;
}
.highlight .si {
  color: #d48bb5;
}
.highlight .sx {
  color: #d48bb5;
}
.highlight .sr {
  color: #76b39d;
}
.highlight .s1 {
  color: #d48bb5;
}
.highlight .ss {
  color: #b58bd4;
}
.highlight .s {
  color: #d48bb5;
}
.highlight .na {
  color: #67a0b8;
}
.highlight .bp {
  color: #827391;
}
.highlight .nb {
  color: #67a0b8;
}
.highlight .nc {
  color: #a685e2;
  font-weight: bold;
}
.highlight .no {
  color: #67a0b8;
}
.highlight .nd {
  color: #8c67d3;
  font-weight: bold;
}
.highlight .ni {
  color: #a685e2;
}
.highlight .ne {
  color: #d89b9b;
  font-weight: bold;
}
.highlight .nf {
  color: #d89b9b;
  font-weight: bold;
}
.highlight .nl {
  color: #d89b9b;
  font-weight: bold;
}
.highlight .nn {
  color: #827391;
}
.highlight .nt {
  color: #67a0b8;
}
.highlight .vc {
  color: #67a0b8;
}
.highlight .vg {
  color: #67a0b8;
}
.highlight .vi {
  color: #67a0b8;
}
.highlight .nv {
  color: #67a0b8;
}
.highlight .ow {
  color: #6c5e82;
  font-weight: bold;
}
.highlight .o {
  color: #6c5e82;
  font-weight: bold;
}
.highlight .w {
  color: #d6cfdf;
}
.highlight {
  background-color: #f5f0fa;
}
